.itemCard {
   display: flex;
   flex-direction: column;
   padding: 8px;
   overflow: hidden;
   border-radius: 8px;
   gap: 8px;
   // background: rgba(255, 255, 255, 0.25);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
   z-index: 1;

   &__info {
      display: flex;
      flex-direction: row;
      gap: 24px;

   }

   &__footer {
      width: 100%;
   }
}